.receta__boton {
	background: #da2b1f;
	border: none;
	border-radius: 5px;
	color: #fdfdfd;
	padding: 1rem;
	margin-top: auto;
	transition: all 0.1s ease-in-out;
	font-family: Roboto;
	font-size: 1.25rem;
}

.receta__boton:hover {
	cursor: pointer;
	background-color: #9f1010;
	font-weight: bold;
}
