.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    /* top, sides, bottom*/
    background: #d7d7d7;
    font-size: 1.2rem;
}

@media screen and (min-width:768px) {
    .footer{
        padding: 0.8rem 2rem;
        font-size: 1.6rem;
    }
}

@media screen and (min-width:992px) {
    .footer{
        padding: 0.8rem 5rem;
        font-size: 1.6rem;
    }
}

